* {
    margin: 0;
    padding: 0;
}

.regions-btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100vw;
    height: 10vh;
    background-color: lightseagreen;

}
.regions-btns button {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.chart-js-container{
    position: relative;
   min-width: 100vw;
    height: 60vh;
    background-color: lightskyblue;
    /* border: 1px solid black; */
}
.countries-of-region{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 30vh;
    background-color: lightseagreen;
    overflow :auto
    

}
#myChart{
    min-width: 100vw;
    height: 60vh;
}
.myChart{
    position: absolute ;
    min-width: 100vw;
    height: 60vh;
}
.country-of-region {
margin: 5px;

}
